@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

header {
    background-color: #1f2937;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

.logo, .main-hero {
    color: #f9faf8;
    font-weight: 900;
}

.logo {
    font-size: 24px;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    gap: 610px  ;
}

.links {
    display: flex;
    gap: 15px;
}

.main-hero {
    font-size: 48px;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 15px;
    padding-top: 15px;
}

button.cta {
    background-color: #3882f2;
    font-size: 18px;
    width: 125px;
    height: 30px;
    color: white;
    border: 2px #3882f2 solid;
    border-radius: 5px;
    font-family: "Roboto";
    font-weight: 300;
}

.top-content {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
}

.left-content {
    width: 400px;
}

.product-section {
    width: 1450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.product-heading {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 50px;
    padding-top: 70px;
}

.prd-img {
    border: 2px lightseagreen solid;
    border-radius: 50%;
}

.products {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 50px;
}

.prd-txt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 30px;
}

.quote {
    background-color: #e5e7eb;
    margin: 100px auto;
    padding: 70px 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p.quote-txt {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

.quote-txt {
    display: flex;
    width: 800px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.quote-author {
    padding-left: 550px;
    font-size: 1.25em;
    font-weight: 700;
}

.cta-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 60px;
    background-color: #3882f6;
    width: 800px;
    height: 200px;
    margin: 0 auto;
    border-radius: 25px;
}

h3.cta-heading {
    color: white;
    font-size: 24px;
    font-weight: 400;
    padding-top: 20px;
}

p.cta-hero {
    color: white;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 20px;
}

.cta-btn {
    width: 110px;
    height: 35px;
    background-color: #3882f6;
    color: white;
    border: 2px white solid;
    border-radius: 10px;
}